<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedContacts()" [disabled]="!selectedContacts || !selectedContacts.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="contacts()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['fullName', 'email', 'phone', 'companyResponse.name', 'title', 'createdAt', 'createdBy', 'updatedAt', 'updatedBy']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedContacts"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Contacts"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Contacts</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="fullName" style="min-width: 12rem">
                Full Name
                <p-sortIcon field="fullName" />
            </th>
            <th pSortableColumn="email" style="min-width: 12rem">
                Email
                <p-sortIcon field="email" />
            </th>

            <th pSortableColumn="title" style="min-width: 12rem">
                Title
                <p-sortIcon field="title" />
            </th>

            <th pSortableColumn="phone" style="min-width: 12rem">
                Phone Number
                <p-sortIcon field="phone" />
            </th>

            <th pSortableColumn="companyName" style="min-width: 12rem">
                Company Name
                <p-sortIcon field="companyName" />
            </th>

            <th pSortableColumn="updatedAt" style="min-width: 12rem">
                Updated At
                <p-sortIcon field="updatedAt" />
            </th>

            <th pSortableColumn="updatedBy" style="min-width: 12rem">
                Modified By
                <p-sortIcon field="updatedBy" />
            </th>

            <th style="min-width: 12rem">Actions</th>
        </tr>
    </ng-template>
    <ng-template #body let-contact>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="contact" />
            </td>
            <td class="flex items-center gap-2">
                <img [src]="contact.imageUrl" [alt]="contact.fullName" style="width: 40px" class="rounded" />
                <span>{{ contact.fullName }}</span>
            </td>
            <td style="min-width: 12rem">{{ contact.email }}</td>
            <td style="min-width: 12rem">{{ contact.title }}</td>
            <td style="min-width: 12rem">{{ contact.phone }}</td>
            <td style="min-width: 12rem">{{ contact.companyResponse.name }}</td>
            <td style="min-width: 12rem">{{ contact.updatedAt }}</td>
            <td style="min-width: 12rem">{{ contact.updatedBy }}</td>

            <td style="min-width: 16rem">
                <p-button icon="pi pi-eye" pTooltip="Show Contact" class="mr-2" severity="info" [rounded]="true" [outlined]="true" (click)="openVisibility(contact)" />
                <p-button icon="pi pi-phone" pTooltip="Make a call" class="mr-2" severity="success" [rounded]="true" [outlined]="true" (click)="onCall(contact.phone)" />
                <p-button icon="pi pi-envelope" pTooltip="Send an email" class="mr-2" severity="secondary" [rounded]="true" [outlined]="true" (click)="onEmail(contact.email)" />
                <p-button icon="pi pi-pencil" pTooltip="Update Contact" class="mr-2" [rounded]="true" [outlined]="true" (click)="editContact(contact)" />
                <p-button icon="pi pi-trash" pTooltip="Delete Contact" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteContact(contact)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="contactDialog" [style]="{ width: '800px', weight: '1200px' }" header="Contact Details" [modal]="true">
    <ng-template #content>
        <div>
            <label for="name" class="block font-bold mb-3">Client Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="contact.fullName" required autofocus fluid />
            <small class="text-red-500" *ngIf="submitted && !contact.fullName">Client Nameis required.</small>
        </div>
        <div class="flex flex-wrap gap-6 mt-4">
            <div class="flex flex-col grow basis-0 gap-2">
                <label for="company">Company</label>
                <p-list-box id="company" [(ngModel)]="contact.companyId" [options]="companies" optionLabel="name" optionValue="id" placeholder="Select a company" [filter]="true" />
            </div>
            <div class="flex flex-col grow basis-0 gap-2">
                <label for="title" class="block font-bold mb-3">Title</label>
                <input type="text" pInputText id="title" [(ngModel)]="contact.title" required fluid />
                <small class="text-red-500" *ngIf="submitted && !contact.title">Title is required.</small>
            </div>
        </div>

        <div class="flex flex-wrap gap-6 mt-4">
            <div class="flex flex-col grow basis-0 gap-2">
                <label for="email" class="block font-bold mb-3">Email</label>
                <input type="email" pInputText id="email" [(ngModel)]="contact.email" required fluid />
                <small class="text-red-500" *ngIf="submitted && !contact.email">Email is required.</small>
            </div>
            <div class="flex flex-col grow basis-0 gap-2">
                <label for="phone" class="block font-bold mb-3">Phone Number</label>
                <input type="text" pInputText id="phone" [(ngModel)]="contact.phone" required fluid />
                <small class="text-red-500" *ngIf="submitted && !contact.phone">Phone Number is required.</small>
            </div>
        </div>

        <div class="mt-4">
            <label for="image" class="block font-bold mb-3">Image</label>
            <input type="text" pInputText id="image" [(ngModel)]="contact.imageUrl" autofocus fluid />
        </div>
        <img [src]="contact.imageUrl" [alt]="contact.fullName" class="block m-auto pb-4 mt-4" *ngIf="contact.imageUrl" />
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="contactId ? updateContact() : saveContact()" />
    </ng-template>
</p-dialog>

<p-drawer [(visible)]="visibility" header="Contact Informations" position="right" [style]="{ width: '800px' }">
    <ng-template #content>
        <p-card styleClass="contact-card">
            <ng-template pTemplate="header">
                <div class="p-grid p-align-center">
                    <div class="p-col-12 p-md-4 p-text-center">
                        <img [src]="contactShow.imageUrl" [alt]="contactShow.fullName" style="width: 100px; height: 100px; border-radius: 50%; border: 2px solid #5dade2" />
                    </div>
                    <div class="p-col-12 p-md-8 p-text-center p-d-flex p-flex-column p-jc-center">
                        <h2 class="m-0">{{ contactShow.fullName }}</h2>
                        <span class="subtitle text-muted">{{ contactShow.title }}</span>
                    </div>
                </div>
            </ng-template>
            <div class="p-grid p-mt-4">
                <div class="p-col-12 p-md-6 p-field">
                    <i class="pi pi-id-card" style="font-size: 1.5em; color: #5dade2"></i>
                    <span class="ml-2"><strong>ID:</strong> {{ contactShow.id }}</span>
                </div>
                <div class="card flex flex-col gap-4">
                    <div class="font-semibold text-xl">Informations de Contact</div>
                    <div class="p-col-12 p-md-6 p-field">
                        <i class="pi pi-envelope" style="font-size: 1.5em; color: #5dade2"></i>
                        <span class="ml-2"><strong>Email:</strong> {{ contactShow.email }}</span>
                    </div>
                    <div class="p-col-12 p-md-6 p-field">
                        <i class="pi pi-phone" style="font-size: 1.5em; color: #5dade2"></i>
                        <span class="ml-2"><strong>Phone:</strong> {{ contactShow.phone }}</span>
                    </div>
                    <div class="p-col-12 p-md-6 p-field">
                        <i class="pi pi-building" style="font-size: 1.5em; color: #5dade2"></i>
                        <span class="ml-2"><strong>Company:</strong> {{ contactShow.companyResponse.name }}</span>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-field">
                    <i class="pi pi-check-square" style="font-size: 1.5em; color: #5dade2"></i>
                    <span class="ml-2"><strong>Is Customer:</strong> {{ contactShow.isCustomer ? 'Yes' : 'No' }}</span>
                </div>

                <div class="card flex flex-col gap-4">
                    <div class="font-semibold text-xl">Audit Log</div>
                    <div class="p-col-12 p-md-6 p-field">
                        <i class="pi pi-user" style="font-size: 1.5em; color: #5dade2"></i>
                        <span class="ml-2"><strong>Created By:</strong> {{ contactShow.createdBy }}</span>
                    </div>
                    <div class="p-col-12 p-md-6 p-field">
                        <i class="pi pi-calendar" style="font-size: 1.5em; color: #5dade2"></i>
                        <span class="ml-2"><strong>Created At:</strong> {{ contactShow.createdAt | date: 'medium' }}</span>
                    </div>

                    <div class="p-col-12 p-md-6 p-field">
                        <i class="pi pi-user" style="font-size: 1.5em; color: #5dade2"></i>
                        <span class="ml-2"><strong>Last Modified By:</strong> {{ contactShow.updatedBy }}</span>
                    </div>

                    <div class="p-col-12 p-md-6 p-field">
                        <i class="pi pi-refresh" style="font-size: 1.5em; color: #5dade2"></i>
                        <span class="ml-2"><strong>Updated At:</strong> {{ contactShow.updatedAt | date: 'medium' }}</span>
                    </div>
                </div>
            </div>
            <ng-template pTemplate="footer">
                <div class="p-text-right gap-6">
                    <p-button label="Close" icon="pi pi-times" class="mr-2" (click)="visibility = false"></p-button>
                    <p-button label="Edit" icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editContact(contactShow)" />
                    <p-button label="Delete" icon="pi pi-trash" class="mr-2" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteContact(contactShow)" />
                </div>
            </ng-template>
        </p-card>
    </ng-template>
</p-drawer>

<p-confirmdialog [style]="{ width: '450px' }" />
